
//- .modal-confirm.modal.hide.fade
//-     div.modal-header
//-         button.close(data-dismiss='modal') x
//-         h3
//-     div.modal-body
//-         p
//-     div.modal-footer
//-         button(data-dismiss="modal").cancel.btn Cancel
//-         button.submit.btn Ok
                
div(class="modal fade modal-confirm" role="dialog")
    .modal-dialog
        .modal-content
            div(class="modal-header" style="padding:35px 50px;")
                button.close(data-dismiss='modal') x
                h3
            div(class="modal-body" style="padding:40px 50px;")
                p
            div.modal-footer
                button(data-dismiss="modal").cancel.btn Cancel
                button.submit.btn Ok        