form(action="/shoppingcart", method="post", enctype="multipart/form-data" hidden id="upload-file-form")
  input(type="file" name="file" id="fileinput")
  button(class="btn btn-primary" type="submit" id="file-submit") 提交